
  <mat-form-field id="search-input" fxShow="false" fxShow.gt-sm>
    <input matInput placeholder="{{ 'findPlayer' | translate }}!"
           [matAutocomplete]="playersAutocomplete" [formControl]="playerFormControl">
</mat-form-field>

<mat-autocomplete #playersAutocomplete="matAutocomplete" >
    <mat-option *ngFor="let player of filteredPlayers"
                (onSelectionChange)="searchPlayer(player)"
                [value]="player.name">
        {{player.name}}
    </mat-option>
</mat-autocomplete>
