<section class="sidenav-content">
  <div class="content" (window:resize)="onResize($event)">
    <mat-grid-list [cols]="nbCols" rowHeight="250px">
          <mat-grid-tile *ngFor="let player of players" [rowspan]="1" [colspan]="1">
            <img src="assets/images/players/{{player.id}}.jpg" alt="photo of the super player {{player.name}}">
            <mat-grid-tile-footer>
              <h3 mat-line>{{player.name}}</h3>
              <span mat-line>{{player.strength}}</span>
              <button mat-icon-button (click)="seePlayerDetails(player)">
                <mat-icon>info</mat-icon>
              </button>
            </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
  </div>
</section>
