
<h1>{{"home.news" | translate }}</h1>
<hr />

<div fxLayout="column" fxLayoutAlign=" none">
  <div fxFlex="100"  fxLayoutGap="10px" fxLayout="row wrap" fxLayoutAlign="stretch" fxLayout.xs="column">
    <mat-card fxFlex.xs="100" fxFlex.sm="48" fxFlex.md="48" fxFlex.lg="33" fxFlex.xl="33"  *ngFor="let nw of news">
      <mat-card-content>
        <h1> LOS CAMPEONES DEL FUTURO</h1>
        <p>Desc: {{nw.title}}</p>
    </mat-card-content>
    <img mat-card-image src="assets/images/news/1.jpg">
    <mat-card-footer> <b>Author:</b> Kevin Broit
          <span text--right>22-10-2017</span>
        </mat-card-footer>
    </mat-card>
  </div>
</div>
