<section class="sidenav-content">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px" >
    <div  fxFlex.lg="33.33" fxFlex.md="40" fxFlex.sm="100" >
      <mat-card  class="p-0 mat-card">
        <mat-card-content>
          <img mat-card-image  style="max-height: 293px"  src="assets/images/news/1.jpg">
          <p  class="text">
            El Cercle TT Gràcia, és un club esportiu dedicat a la pràctica i promoció del tennis de taula, activitat esportiva que neix a la entitat cultural El Cercle de Gràcia, formant la secció de Tennis de Taula.
Disposem de una sala polivalent amb la possibilitat de muntar una taula amb mides reglamentàries per competir o 3 taules per entrenament.
         </p>
       <div class="user-detail">
         <span  class="toolbar-avatar md user-photo">
           <img  alt="" src="assets/images/players/1-thumbnail.jpg"></span>
           <span  class="user-title">Kevin Broit</span>
           <span  class="user-subtitle text-muted">Product Manager</span>
         </div>
     </mat-card-content>
   </mat-card>
     </div>

     <div  fxFlex.lg="33.33" fxFlex.md="40" fxFlex.sm="100" >
       <mat-card  class="p-0 mat-card">
         <mat-card-content>
           <img mat-card-image style="max-height: 293px" src="assets/images/news/2.jpg">
           <p  class="text">
             El Cercle TT Gràcia, és un club esportiu dedicat a la pràctica i promoció del tennis de taula, activitat esportiva que neix a la entitat cultural El Cercle de Gràcia, formant la secció de Tennis de Taula.
Disposem de una sala polivalent amb la possibilitat de muntar una taula amb mides reglamentàries per competir o 3 taules per entrenament.
          </p>
          <div class="user-detail">
            <span  class="toolbar-avatar md user-photo">
              <img  alt="" src="assets/images/players/1-thumbnail.jpg"></span>
              <span  class="user-title">Kevin Broit</span>
              <span  class="user-subtitle text-muted">Product Manager</span>
            </div>
      </mat-card-content>
    </mat-card>
      </div>
   </div>
</section>
