<section class="sidenav-content">
  <h1>{{"club" | translate }}</h1>
  <hr/>

  <p>{{"home.description" | translate }}</p>
  <br />
  <app-news-list></app-news-list>
  <br />

  <h1>{{"trainings" | translate}}</h1>
  <hr />
  <article>

    <table class="is-full-width">
      <thead>
      <tr>
        <th>{{"contact.days" | translate}}</th>
        <th>{{"contact.location" | translate}}</th>
        <th>{{"contact.time" | translate}}</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td>{{"tuesday" | translate}}</td>
        <td>{{"trainingAddress" | translate}}</td>
        <td>18:30 - 21:00hs</td>
      </tr>

      <tr>
        <td>{{"thursday" | translate}}</td>
        <td>{{"trainingAddress" | translate}}</td>
        <td>18:30 - 21:00hs</td>
      </tr>
    </tbody>
    </table>
  </article>

</section>
