<section class="sidenav-content">
  <h1>{{"contact.title" | translate }}</h1>
  <hr />
  <article>
      <table class="is-full-width responsive">
        <thead>
        <tr>
          <th>{{"contact.person" | translate}}</th>
          <th>{{"contact.phone" | translate}}</th>
          <th>{{"contact.email" | translate}}</th>
        </tr>
        </thead>
        <tbody>

        <tr>
          <td data-title='{{"contact.person" | translate}}'>Jesus Monera</td>
          <td data-title='{{"contact.phone" | translate}}'>+34 600 241 428</td>
          <td data-title='{{"contact.email" | translate}}'><a href="mailto:jesusmonera@elcercle.cat">jesusmonera@elcercle.cat</a></td>
        </tr>

        <tr>
          <td data-title='{{"contact.person" | translate}}'>Kevin Broit</td>
          <td data-title='{{"contact.phone" | translate}}'>+34 631 980 235</td>
          <td data-title='{{"contact.email" | translate}}'><a href="mailto:kevinbroit@msn.com">kevinbroit@msn.com</a></td>
        </tr>
      </tbody>
      </table>
  </article>

  <br />
  <h1>{{"club" | translate}}</h1>
  <hr />
    <div style="height: 400px;">
      <iframe class="cc-map-embed-iframe" width="100%" height="400" frameborder="0" style="border: 0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBs_lAfpuIjfx7DGisR7oUh1ZZ_C5qtGKc&amp;q=41.4037466%2C2.1529456&amp;center=41.40349112720823%2C2.1527838707&amp;zoom=17&amp;maptype=roadmap" allowfullscreen="true"></iframe>
    </div>
</section>
