table {
  margin: 24px 0px;
  box-shadow: 0 2px 2px rgba($black, 0.24), 0 0 2px rgba($black, 0.12);
  border-radius: 2px;
  background: $offwhite;

  &.is-full-width {
    width: 100%;
  }

  &.is-fixed-layout {
    table-layout: fixed;
  }

  thead > {
    vertical-align: middle;
    border-color: inherit;

    tr {
      vertical-align: inherit;
      border-color: inherit;
    }

    tr > th {
      background: rgba($lightgray, 0.2);
      border-bottom: 1px solid $lightgray;
      color: $darkgray;
      font-size: 12px;
      font-weight: 500;
      padding: 8px 24px;
      text-align: left;
      text-transform: uppercase;
      line-height: 28px;
    }
  }

  tbody > tr > {
    th,
    td {
      border-bottom: 1px solid $lightgray;
      padding: 16px;
      text-align: left;
      line-height: 24px;
      vertical-align: top;

      @media (max-width: 480px) {
        &:before {
          // content: **ADD TABLE HEADER**;
          display: inline-block;
        }
      }

    }

    td {
      letter-spacing: 0.30px;

    tr td:first-child {
      @media (max-width: 480px) {
        background-color: $lightgray;
      }
    }

    }

    th {
      background: rgba($lightgray, 0.2);
      border-right: 1px solid $lightgray;
      font-weight: 600;

    }

    &:last-child td {
      border: none;

      @media (max-width: 480px) {
        border-bottom: 1px solid $lightgray;
      }
    }
  }
}

#cheatsheet {

  table tbody td {
    overflow: auto;
  }

  @media only screen and (max-width: 990px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, tfoot, tr, th, td {
      display: block;
      position: relative;
      max-width: 100%;

      code {
        padding: 0;
        background-color: inherit;
      }
    }

    th {
      border-right: none;
    }

    th, td {
      &:not(:last-child) {
        border-bottom: none;
        padding-bottom: 0px;
      }
    }
  }
}


.responsive {
    width: 100%;
    border-collapse: collapse;
}

@media only screen and (max-width: 800px) {
    .responsive > thead,
    .responsive > tbody,
    .responsive > tbody > tr,
    .responsive > thead > th {
        display: block;
    }

    .responsive > thead > tr,
    .responsive > thead > tr > th{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .responsive > tbody > tr {
        border: 1px solid #ccc;
    }

    .responsive > tbody > tr > td, .responsive > tbody > tr > th {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;

        display: block;
        -webkit-box-sizing: content-box;
           -moz-box-sizing: content-box;
                box-sizing: content-box;
        min-height: 1em;
    }

    .responsive > tbody > tr > td::before,.responsive> tbody > tr > th::before {
        position: absolute;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        -ms-word-wrap: break-word;
            word-wrap: break-word;
        text-align: left;
        font-weight: bold;
        content: attr(title);
    }

    .responsive td.responsive-omit-title:nth-child(odd), .responsive td.responsive-omit-title:nth-child(even) {
        padding-left: 6px;
    }

    .responsive td.responsive-omit-title::before {
        display: none;
    }

    .responsive td.responsive-omit-if-empty:empty {
        display: none;
    }
}
