<section class="sidenav-content">
  <!--div class="content" (window:resize)="onResize($event)">
    <mat-grid-list [cols]="nbCols" rowHeight="250px">
          <mat-grid-tile *ngFor="let player of players" [rowspan]="1" [colspan]="1">
            <img src="assets/images/players/{{player.id}}.jpg" alt="photo of the super player {{player.name}}">
            <mat-grid-tile-footer>
              <h3 mat-line>{{player.name}}</h3>
              <span mat-line>{{player.strength}}</span>
              <button mat-icon-button (click)="seePlayerDetails(player)">
                <mat-icon>info</mat-icon>
              </button>
            </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
  </div-->

  <h1>Sènior 1a</h1>
  <hr/>

  <table class="is-full-width">
    <thead>
    <tr>
      <th>{{"team.lic" | translate}}</th>
      <th>{{"team.player" | translate}}</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td>8185</td>
      <td>BROIT Kevin</td>
    </tr>

    <tr>
      <td>329</td>
      <td>CASABONA Oscar</td>
    </tr>

    <tr>
      <td>3318</td>
      <td>GIMENEZ Antonio</td>
    </tr>

    <tr>
      <td>364</td>
      <td>MONERA Jesus</td>
    </tr>

    <tr>
      <td>10041</td>
      <td>PEÑA Dario Alfonso</td>
    </tr>

        <tr>
          <td>9114</td>
          <td>VINYALS Oriol</td>
        </tr>
  </tbody>
  </table>

<br/>

<h1>Veterans 2a "A"</h1>
  <hr/>
<table class="is-full-width">
<thead>
<tr>
  <th>{{"team.lic" | translate}}</th>
  <th>{{"team.player" | translate}}</th>
</tr>
</thead>
<tbody>

<tr>
  <td>329</td>
  <td>CASABONA Oscar</td>
</tr>
  <tr>
    <td>361</td>
    <td>CASANOVA Santiago</td>
  </tr>
  <tr>
    <td>5395</td>
    <td>PLANAS Josep</td>
  </tr>
</tbody>
</table>

<br/>

<h1>Veterans 2a "B"</h1>
    <hr/>
<table class="is-full-width">
<thead>
<tr>
<th>{{"team.lic" | translate}}</th>
<th>{{"team.player" | translate}}</th>
</tr>
</thead>
<tbody>
  <tr>
    <td>3318</td>
    <td>GIMENEZ Antonio</td>
  </tr>
  <tr>
    <td>2351</td>
    <td>EVANO Pascal</td>
  </tr>
  <tr>
    <td>11229</td>
    <td>NERIN Carles</td>
  </tr>

  </tbody>
  </table>
<br/>
  <h1>Veterans 3a "A"</h1>
      <hr/>
  <table class="is-full-width">
  <thead>
  <tr>
  <th>{{"team.lic" | translate}}</th>
  <th>{{"team.player" | translate}}</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>5411</td>
      <td>CORTILLAS Isidre</td>
    </tr>
    <tr>
      <td>5428</td>
      <td>FRANQUESA Ricardo</td>
    </tr>
    <tr>
      <td>624</td>
      <td>GIRBAU David</td>
    </tr>
    </tbody>
</table>
<br/>
      <h1>Veterans 3a "B"</h1>
          <hr/>
      <table class="is-full-width">
      <thead>
      <tr>
      <th>{{"team.lic" | translate}}</th>
      <th>{{"team.player" | translate}}</th>
      </tr>
      </thead>
      <tbody>

  <tr>
    <td>6880</td>
    <td>COLET Albert</td>
  </tr>
  <tr>
    <td>418</td>
    <td>COMELLAS Isidre</td>
  </tr>
  <tr>
    <td>364</td>
    <td>MONERA Jesus</td>
  </tr>
  <tr>
    <td>8337</td>
    <td>BLANCO Alfons</td>
  </tr>
  <tr>
    <td>1992</td>
    <td>COMELLAS Josep </td>
  </tr>

  <tr>
    <td>12142</td>
    <td>DE ELIAS Berenguer</td>
  </tr>

  <tr>
    <td>4009</td>
    <td>PELLEJA Enrique </td>
  </tr>

  <tr>
    <td>1871</td>
    <td>PINYOL Joan Maria </td>
  </tr>
  <tr>
    <td>3494</td>
    <td>PIÑOL Jordi </td>
  </tr>
  <tr>
    <td>180</td>
    <td>TORT Jordi</td>
  </tr>
</tbody>
</table>

</section>
