<section class="sidenav-content">
  <div class="content" (window:resize)="onResize($event)">
    <ng-container *ngFor="let team of teams">
      <h1>{{team.name}}</h1>
      <hr />
     <mat-grid-list [cols]="nbCols" rowHeight="250px">
           <mat-grid-tile *ngFor="let player of team.players" [rowspan]="1" [colspan]="1">
             <img src="{{player.image_small}}" alt="photo of the super player {{player.name}}">
             <mat-grid-tile-footer>
               <h3 mat-line>{{player.name}}</h3>
               <span mat-line>{{player.desc}}</span>
               <!--button mat-icon-button (click)="seePlayerDetails(player)">
                 <mat-icon>info</mat-icon>
               </button-->
             </mat-grid-tile-footer>
           </mat-grid-tile>
         </mat-grid-list>
         <br/>
       </ng-container>
   </div>
</section>
